{% extends "./book_list_base.html" %}
{% load app %}
{% block book %}
    <!-- singlefield_app/book_list.html -->
    <h2 id="field-{{ object.id }}-title">{{ object.title }}</h2>
    <dl>
        <dt id="field-{{ object.id }}-author">Author</dt>
        <dd>
            {{ object.author }}
        </dd>
        <dt id="field-{{ object.id }}-year">Year</dt>
        <dd>
            {{ object.year }}
        </dd>
    </dl>
    <section>
        <fieldset>
            <legend>Stored as JSON</legend>
            <dl>
                {% for fieldname in misc %}
                    {% if fieldname in object.misc %}
                        {% with object.misc|by_key:fieldname as value %}
                            <dt>
                                {{ fieldname.title }}<a id="field-{{ object.id }}-{{ fieldname }}"></a>
                            </dt>
                            <dd>
                                {{ value|default_if_none:"–" }}
                            </dd>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
                {% for key, value in object.misc.items %}
                    {% if not key in misc %}
                        <dt>{{ key }}</dt>
                        <dd>
                            {{ value|default_if_none:"–" }}
                        </dd>
                    {% endif %}
                {% endfor %}
            </dl>
        </fieldset>
    </section>
{% endblock book %}
